.popup__button-close {
  min-width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../../images/button-close.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: .4s;
}

.popup__button-close:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 580px) {
  .popup__button-close {
    min-width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-image: url('../../../images/button-close-min.svg');
  }
}
